.main-container {
  height: calc(100dvh - 220px);
  overflow-y: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar-container {
  position: relative;
}

.suggestion-box {
  position: absolute;
  bottom: -10px;
  width: 75%;
  left: auto;
  right: auto;
}
