@import "tailwindcss";

body {
  height: 100dvh;
  width: 100dvw;
}

.dark {
  background-color: #252323;
  color: white;
  border: white;
  ::placeholder {
    color: white;
  }
}

button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

button {
  cursor: pointer;
}
